<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= stylesheet href="{{ url_for('static', filename='style.css') }}">
    <title>Space Spotter</title>
</head>
<body>
    <div class="navbar">
        
        <div>
            <span>Space Spotter</span>
        </div>
        <div>
            <a href="#">Login</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
        </div>
       
    
    </div>
    <div class="map_pic">
 <img src="{{ url_for('static', filename='images/map.webp') }}" alt="map">
 <div class="content">
    <h1>Welcome to Space Spotter</h1>
    <p>Discover the beauty of parking space made easy</p>
</div>
</div>
<div class="intro">
    <h1 style="justify-content: center; display: flex; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">How does Space Spotter Workds</h1>
    <div class="services">
        <div class="service">
            <h3>Sa</h3>
            <p>Explore the universe with our high-quality telescopes available for rent. Perfect for stargazing enthusiasts!</p>
        </div>
        <div class="service">
            <h3>Guided Tours</h3>
            <p>Join our experienced guides for an unforgettable tour of the night sky. Learn about celestial objects and their stories.</p>
        </div>
        <div class="service">
            <h3>Astronomy Workshops</h3>
            <p>J</p>
        </div>
    </div>
    
    <h2 style="display: flex; justify-content: center;">To give a try click here <a href="{{ url_for('parking_grid') }}"><button   >Try!!</button></a></h2>
</div>





</body>
</html>