<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= stylesheet href="{{ url_for('static', filename='style.css') }}">
    <title>Space Spotter</title>
</head>
<body>
    <div class="navbar">
        
        <div>
            <span>Space Spotter</span>
        </div>
        <div>
            <a href="#">Login</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
        </div>
       
    
    </div>
    <div class="map_pic">
 <img src="{{ url_for('static', filename='images/map.webp') }}" alt="map">
 <div class="content">
    <h1>Welcome to Space Spotter</h1>
    <p>Discover the beauty of parking space made easy</p>
</div>
</div>
<div class="intro">
    <h1 style="justify-content: center; display: flex; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">How does Space Spotter Works</h1>
    <div class="services">
        <div class="service">
        
            <p>Space Spotter is a cutting-edge parking management app designed to streamline your parking experience.</p>
        </div>
        <div class="service">
            
            <p> With real-time tracking of parking lot availability, you'll always know where to find an open spot</p>
        </div>
        <div class="service">
            
            <p>Say goodbye to endless circling and hello to hassle-free parking. </p>
        </div>
    </div>
    
    <h2 style="display: flex; justify-content: center;">To give a try click here <a href="{{ url_for('parking_grid') }}"><button   >Try!!</button></a></h2>
</div>





</body>
</html>